*{ /*universal*/
    margin:0; /*margem*/
    padding: 0; /*espaçamento interno*/ 

}

img{  /*estilo tag imagem*/
    height: 92px; /*altura*/
}

a{ /*tag link/ancora*/
    text-decoration: none; /*decoração de texto*/
    color: #1f1f1f; /*cor do texto*/
    font-size: 13px; /*tamanho da fonte/texto*/
    font-family: sans-serif; /*tipo/familia da fonte*/ 
}

/*MAIN PRINCIPAL*/
.caixa-pesquisa{
    display: flex;
    width: 583px; /*largura*/
    padding: 10px 14px;
}
.icone-lupa{
    width: 20px; /*largura*/
    fill:#9aa0a6 /*preenchimento*/
}
.icone-teclado{
width: 28px; /*largura*/
height: 14px; /*altura*/
}
.icone-colorido{
    width: 24px; /*largura*/
}



/*RODAPE*/
footer{
background-color: #f2f2f2; /*cor de fundo*/
}
    
.caixa-rodape{
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}
.caixa-rodape--borda{
    border-radius: 1px solid #dadce0;
}
.caixa-links{
    display: flex;
    gap: 30px; /*espaçamento entre as linhas da div*/
}

/*CABEÇALHO*/
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 6px 14px;
}
.botao-login{
        background-color: #1a73e8; /*cor de plano de fundo*/
        color:white; /*cor do texto*/
        padding :12px 9px; /*espaço interno*/
        font-weight: 500; /*peso da fonte*/
        border-radius: 40px; /*raio da borda(curvatura)*/
}

.icone-produtos{ /*classe icone-produtos*/
    width:24px ; /*largura*/
    fill:#444746 /*preenchimento*/
}





